*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

background:#08111f;
color:white;

}


header{

height:80px;

background:#101b33;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

}


header h1{

color:#00e5ff;

}


header button{

padding:12px 25px;

border:none;

border-radius:10px;

cursor:pointer;

}



main{

max-width:700px;

margin:40px auto;

}



.perfil{

display:flex;

gap:20px;

align-items:center;

background:#101b33;

padding:20px;

border-radius:20px;

}



.avatar img{

width:80px;

height:80px;

border-radius:50%;

}




.criar-post{

margin-top:30px;

background:#101b33;

padding:25px;

border-radius:20px;

}



textarea{

width:100%;

height:120px;

background:#182644;

border:none;

border-radius:15px;

padding:15px;

color:white;

resize:none;

}



input{

margin-top:20px;

}



#publicar{

margin-top:20px;

width:100%;

padding:15px;

border:none;

border-radius:15px;

background:#00e5ff;

font-weight:bold;

cursor:pointer;

}





.post{

margin-top:25px;

background:#101b33;

padding:25px;

border-radius:20px;

}



.post img{

width:100%;

margin-top:20px;

border-radius:15px;

}



.post button{

margin-top:20px;

margin-right:10px;

padding:10px 15px;

border:none;

border-radius:10px;

cursor:pointer;

}